@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  background: #ffffff;
}

a {
  text-decoration: none;
}

.App {
  height: 100%;
}
